@font-face {
  font-family: 'Digital';
  src: url('./resources/fonts/DS-DIGI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.digital-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: url('./resources/images/casio.jpg') no-repeat center center;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  color: #010101;
  font-family: 'Digital', monospace;
  min-width: 400px;
  min-height: 300px;
}

.time-display {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
}

.date-display {
  margin-top: 15px;
  font-size: 16px;
}
